.GameMenu {
  display: flex;
  flex-direction: column;

  width: 47%;
  margin: 2em 0 0 25%;
  padding: 1.5%;

  background-color: #1a237e;
}

.GameMenu__create-button {
  background-color: #4caf50;
  cursor: pointer;
  font-size: 1em;

  margin-top: 1em;
  padding: 1em;
  border: 2px solid #fefefe;
}

.GameMenu__create-button:hover {
  background-color: #388e3c;
}

.Test {
  display: none;
}
