.GameCompletionModal__congratulations {
  color: black;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.GameCompletionModal__restart-button {
  border: none;
  padding: 1em;
  background-color: #2196f3;
  cursor: pointer;
  font-size: 1em;
}

.GameCompletionModal__score {
  color: black;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: 600;
}

.GameCompletionModal__restart-button:hover {
  background-color: #1565c0;
}
