.Modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal__content-container {
  padding: 1em;
  background-color: #fefefe;
  width: 40vw;
  height: 40vh;
  opacity: 1;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.Modal__exit-button {
  margin-top: auto;
  margin-left: auto;
  width: 50%;
  color: black;
  border: none;
  padding: 0.4em;
  font-size: 1em;
  background-color: #fafafa;
  cursor: pointer;
}

.Modal__exit-button:hover {
  background-color: #e0e0e0;
}
