.Threat {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #9e9e9e;
  border: 2px solid #fefefe;
  padding: 1em;
}

.Threat__text {
  font-size: 1em;
}

.Threat__name {
  font-style: italic;
  font-weight: 500;
  font-size: 1.2em;
  margin: 0.5em 0 0.7em;
}

.Threat__action-wrapper {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: space-around;
}

.Threat__action {
  border: 2px solid #fefefe;
  padding: 0.5em;

  background-color: #e91e63;
  cursor: pointer;
  font-size: 1em;
}
