.Threat {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #9e9e9e;
  border: 2px solid #fefefe;
  padding: 1em;
}

.Threat__text {
}

.Threat__name {
}

.Threat__action {
  border: 2px solid #fefefe;
  padding: 1em;
  cursor: pointer;
  background-color: #e91e63;
  font-size: 1em;
}
